<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.okgodemotwo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OkGoDemoTwo">
        <activity android:name=".PushAllActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--     0.获取所有数据     -->
        <activity android:name=".DeviceDataActivity" />
        <!--     1.获取Share所有数据     -->
        <activity android:name=".DeviceShareDataActivity" />
        <!--     2.获取要新增的设备    -->
        <activity android:name=".AddProductActivity" />
        <!--     3.新增设备       -->
        <activity android:name=".AddDeviceDataActivity" />
        <!--     4.删除设备      -->
        <activity android:name=".DeleteProductActivity" />

        <!--     4.汇总新增设备      -->
        <activity android:name=".AddUpdateActivity" />

        <!--     0.首页房间获取    -->
        <activity android:name=".RoomActivity" />
        <!--     0.首页房间全开全关     -->

        <activity android:name=".RoomStateActivity" />

        <!--     1.遥控器-添加遥控-选择红外设备接口      -->
        <activity android:name=".ControllerRedActivity" />
        <!--     2.查找模式-详情-内部设备    -->
        <activity android:name=".SearchDeviceActivity" />
        <!--     3.更新模式       -->
        <activity android:name=".UpdateActivity" />
        <activity android:name=".UpdateActivity2" />

        <!--     4.获取定时执行状态     -->
        <activity android:name=".TimerStateActivity" />
        <!--     5.查询设备数量      -->
        <activity android:name=".SearchDeviceNumActivity" />

        <!--    家电保护    -->
        <activity android:name=".ElectricityGetActivity" />
        <activity android:name=".ElectricityUpdateActivity" />
        <activity android:name=".ElectricityDeleteActivity" />

        <!--    报警    -->
        <activity android:name=".WarnGetActivity" />
        <activity android:name=".WarnUpdateActivity" />

        <!--    获取产品    -->
        <activity android:name=".AddActivity" />


        <!--     0.获取消息列表     -->
        <activity android:name=".PushGetActivity" />
        <!--     1.更新消息ID状态_单消息已读     -->
        <activity android:name=".PushSingleReadActivity" />
        <!--     2.更新消息账号ID状态_全部消息已读    -->
        <activity android:name=".PushAllReadActivity" />
        <!--     3.删除消息ID_单消息       -->
        <activity android:name=".PushSingleDeleteActivity" />
        <!--     4.删除消息账号ID_所有账号消息      -->
        <activity android:name=".PushAllDeleteActivity" />

    </application>

</manifest>